@font-face {
  font-family: SF-Bold; /* Имя шрифта */
  src: url(../fonts/SFProDisplay-Bold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: SF-Regular; /* Имя шрифта */
  src: url(../fonts/SFProDisplay-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: SF-Semibold; /* Имя шрифта */
  src: url(../fonts/SFProDisplay-Semibold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: SF-Medium; /* Имя шрифта */
  src: url(../fonts/SFProDisplay-Medium.ttf); /* Путь к файлу со шрифтом */
}

  body {
    outline: 0;
    background: white;
    font-family: SF-Regular;
    outline: none;
    margin: 0px;
    color: black;
  }
  
  button {
  
    outline: 0;
  }
  textarea {
    resize: none;
  }
  textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    resize: none; /*remove the resize handle on the bottom right*/
}
input {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  resize: none; /*remove the resize handle on the bottom right*/
}
  p{
    outline: 0;
    outline: none;
    margin: 0px;
  }
  div:focus {
    outline: none;
  }
  div:active {
    outline: none;
  }
  
  p:focus {
    outline: 0;
  }
  
  img:focus {
    outline: 0;
  }
  
  i:focus {
    outline: 0;
  }
  input:focus {
    outline: none;
  }
  input:active {
    outline: none;
  }
  
  a {
      color: #1696EC;
      text-decoration: none;
  }
  b {
    font-family: SF-Bold;
  }
  input,
  textarea,
  button,
  select,
  p,
  img,
  div,
  a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .Panel__in{
    background-color: white;
  }
  .Panel--tm-gray .Panel__in, .Panel--tm-gray::after{
    background-color: white;
  }
  .PanelHeader--android .PanelHeader-bg{
    box-shadow: none;
  }
  .PanelHeader--ios .PanelHeader__left{
    display: none;
  }
  .PanelHeader--ios .PanelHeader__right{
    display: none;
  }
  .PanelHeader-content, .PanelHeader__content{
    overflow: initial;
  }
  .View--ios.View--header .Panel__in{
    padding-top: 56px;
  }
  .navbar{
    position: fixed;
    height: 56px;
    top: 0;
    left: 0;
    right: 0;
    background: white;
  }
  .PanelHeader--android .PanelHeader-content>:not(.Search):not(.PanelHeaderContent){
    padding: 0px
  }
  .navbar_title{
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    font-family: SF-Bold;
    color: #000000;
    margin: 13px 0px;
  }
  .main_content{

  }
  .navbar_line{
    background: #D7D8D9;
    height: 1px;
    margin-left: 12px;
    margin-right: 12px;
    width: calc(100% - 24px);
    position: absolute;
    bottom: 1px;
  }
  .back_icon{
    position: absolute;
    left: 0;
    top: 4px;
    height: 44px;
    width: 44px;
  }
  .create_donation_container{
    height: 196px;
    width: 100%;
    position: absolute;
    top: calc(100vh/2 - 196px/2 - 28px);
  }
  .create_donation_text{
    margin: 48px 32px 24px 32px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #818C99;
  }
  .vk_btn{
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    background: #4986CC;
    border-radius: 10px;
    padding: 8px 16px;
    width: fit-content;
    font-family: SF-Medium;
  }
  .horizontal-center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .vk_btn:active{
    opacity: 0.8;
  }
  .flex{
    display: flex;
  }
  .just_content{
    display: flex;
    justify-content: space-between;
  }
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: fit-content;
  }
  .relative{
    position: relative;
  }
  .send_container{
    position: absolute;
    right: 0;
    top: 4px;
    height: 44px;
    width: 48px;
  }
  .send_icon{
    margin-top: 8px;
    margin-left: 4px;
  }
  .arrow_navbar_name{
    margin-left: 4px;
  }
  .snippet_card{
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.01);
    border-radius: 10px;
    margin: 0px 8px;
}
.snippet_image{
  border-radius: 10px 10px 0px 0px;
  width: calc(100% + 2px);
  height: 140px;
  object-fit: cover;
  object-position: center;
  margin-top: -1px;
  margin-left: -1px;
}
.snippet_title{
  font-size: 15px;
  line-height: 20px;  
  color: #000000;
  font-family: SF-Semibold;
  margin: 8px 12px 0px 12px
}
.snippet_name{
  font-size: 13px;
  line-height: 16px;
  color: #818C99;
  margin: 0px 12px;
}
.snippet_line{
  margin: 8px 12px 12px 12px;
  background: #D7D8D9;
    height: 1px;
    width: calc(100% - 24px);
}
.snippet_progress_title{
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 8px;
  transition: all 0.05s;
}

.snippet_progress{
  display: flex;
  padding: 0px 12px 14px 12px;
  width: -webkit-fill-available;
}
.snippet_progress_bg{
  background: #3F8AE0;
  border-radius: 2px;
  height: 4px;
  opacity: 0.3;
}
.snippet_help_btn{
  margin-left: 12px;
  border: 1px solid #3F8AE0;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 6px 12px;
  opacity: 0.4;
  font-size: 14px;
  font-family: SF-Medium;
  line-height: 18px;
  text-align: center;
  color: #3F8AE0;
}
.snippen_progress_cont{
  width: -webkit-fill-available;
}